/* Fonts */

/* cormorant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 400;
    src: url('../fonts/cormorant-v24-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 500;
    src: url('../fonts/cormorant-v24-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 700;
    src: url('../fonts/cormorant-v24-cyrillic_latin-700.woff2') format('woff2');
}

/* cormorant-infant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 500;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 600;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-600.woff2') format('woff2');
}

/* science-gothic */
@font-face {
    font-display: swap;
    font-family: 'Science Gothic';
    font-weight: 400;
    src: url('../fonts/science-gothic-v5-cyrillic_latin-regular.woff2') format('woff2');
}


/* Great Vibes */
@font-face {
    font-display: swap;
    font-family: 'Great Vibes';
    font-weight: 400;
    src: url('../fonts/great-vibes-v21-cyrillic_latin-regular.woff2') format('woff2');
}

:root {
    --color-base-white: #ffffff;
    --color-primary-light: #ededed;
    --color-primary-brown: #b0a99d;
    --color-primary-dark: #1a1a1a;
    --color-secondary-brown: #736e68;
    --color-emissive: #f5ca9f;

}

/* Base */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant';
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    background-image:
        url(../images/body-background.jpg);
    background-size: 1440px 1440px;
    background-position: center;
    background-repeat: repeat;
    z-index: -99;
    color: var(--color-primary-light);
    /* font-family: ; */
    /* font-size: ; */
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

/* Button  */

.button-order {
    font-family: 'Cormorant';
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
    width: 164px;
    height: 55px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    box-shadow:
    0 0 9px 1px rgba(255, 255, 255, 1),/* смещение, размытие, spread (толщина), цвет прозрачность */ 
    inset 0 0 9px 1px rgba(255, 255, 255, 1);/* inner glow */;
    cursor: pointer;
}

.button-order:hover {
    box-shadow:
    0 0 30px 8px rgba(255, 255, 255, 0.5),
    inset 0 0 30px 8px rgba(255, 255, 255, 0.5);
}

.button-order:active {
    background-color: rgba(245, 202, 159, 0.2);
    box-shadow:
        0 0 30px 8px rgba(255, 255, 255, 0.5),
        inset 0 0 30px 8px rgba(255, 255, 255, 0.5);
}

/* Dropdawn Navbar */

.header-nav {
    display: flex;
}

.header-navbar {
    overflow: hidden;
    background-color: transparent;
    /* font-family: ; */
}

/* .header-navbar a { Если пригодится 
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */



.header-navbar__dropdawn-button {
    padding: 0;
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.header-navbar__dropdawn-button:hover {
    color: var(--color-primary-brown)
}

.header-navbar__dropdawn {
    float: left;
    overflow: hidden;
}

.header-navbar__dropdawn-content {
    font-size: 20px;
    font-weight: 500;
    display: none;
    position: absolute;
    background-color: rgba(237, 237, 237, 0.1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-navbar__dropdawn:hover .header-navbar__dropdawn-content {
    display: block;
}

.header-navbar__dropdawn-content a {
    text-align: center;
    padding: 15px 0px;
    display: block;
}

/* Logotype */
.logo-header {
    color: white;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0) 62%, rgba(255, 255, 255, 0) 100%);
    /* box-shadow:
    0 0 9px 1px rgba(255, 255, 255, 1),
    inset 0 0 9px 1px rgba(255, 255, 255, 1); */
}



/* Link */

a {
    text-decoration: none;
}

.header-link {
    /* color:var(--color-primary-brown); */
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
}

.header-link:hover {
    color:var(--color-primary-brown);
}

.header-link__dropdawn {
    color: var(--color-primary-light);
    text-transform: uppercase;
    font-family: 'Cormorant';
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.header-link__dropdawn:hover {
    text-shadow: 0 0 15px var(--color-emissive);
    color: var(--color-primary-brown)
}

.footer-link {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    font-weight: 500;
    color: var(--color-primary-brown);
}

.footer-link:hover {
    color: var(--color-primary-light);
}

.footer-link.address {
    font-size: 18px;
    font-weight: 500;
}

/* Hero section */

.hero-section__title {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary-light);
}

.hero-section__title__h2 {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-primary-brown);
}

/* Advantages section */

.advantages-section span,h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.advantages-section__text {
    font-size: 24px;
    font-weight: 500;
}

.advantages-section .frame {
    width: 650px;
    height: 558px;
    border: 2px solid var(--color-primary-light);
    padding: 34px 40px 34px 34px;
    box-shadow: 
    0 0 6px 1px var(--color-emissive),/* смещение, размытие, spread (толщина), цвет прозрачность */
    inset 0 0 6px 1px var(--color-emissive);/* inner glow */;
}

/* Services section */

.services-section h3,h4 {
    margin: 0 0 16px 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: none;
}

.services-section p {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.services-section__title {
    margin: 0 0 25px 0;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: uppercase;
    text-align: center;
}

.services-section__deer {
    position: relative;
    width: 724px;
    height: 434px;
    overflow: hidden;
}

.services-section__deer video {
    width: 724px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__deer .services-section__deer__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__deer:hover .services-section__deer__text {
    opacity: 0;
}

.services-section__computer {
    position: relative;
    width: 450px;
    height: 434px;
    overflow: hidden;
}

.services-section__computer video {
    width: 450px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__computer .services-section__computer__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__computer:hover .services-section__computer__text {
    opacity: 0;
}

.services-section__top-part {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin: 0 0 6px 0;
}

.services-section__blueprint {
    position: relative;
    width: 450px;
    height: 434px;
    overflow: hidden;
}

.services-section__blueprint video {
    width: 450px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__blueprint .services-section__blueprint__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__blueprint:hover .services-section__blueprint__text {
    opacity: 0;
}

.services-section__interior {
    position: relative;
    width: 724px;
    height: 434px;
    overflow: hidden;
}

.services-section__interior video {
    width: 724px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__interior .services-section__interior__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__interior:hover .services-section__interior__text {
    opacity: 0;
}

.services-section__woodwork {
    position: relative;
    width: 1180px;
    height: 250px;
    overflow: hidden;
}

.services-section__woodwork video {
    width: 1180px;
    height: 250px;
    object-fit: cover;
    object-position: center bottom;
    pointer-events: none;
}

.services-section__woodwork .services-section__woodwork__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__woodwork:hover .services-section__woodwork__text {
    opacity: 0;
}

.services-section__bottom-part {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

/* Reviews section */

.reviews-section__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: uppercase;
    text-align: center;
}

.reviews-section h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: none;
}

.reviews-section p {
    color: var(--color-primary-brown);
    font-size: 22px;
    font-weight: 400;
}

/* Footer */

.adress__title {
    color: var(--color-primary-brown);
    font-family: 'Cormorant Infant';
    font-size: 30px;
    font-weight: 500;
}

.adress__text {
    color: var(--color-primary-brown);
    font-size: 18px;
    font-weight: 500;
}

