/* Fonts */

/* cormorant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 400;
    src: url('../fonts/cormorant-v24-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 500;
    src: url('../fonts/cormorant-v24-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 700;
    src: url('../fonts/cormorant-v24-cyrillic_latin-700.woff2') format('woff2');
}

/* cormorant-infant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 500;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 600;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-600.woff2') format('woff2');
}

/* science-gothic */
@font-face {
    font-display: swap;
    font-family: 'Science Gothic';
    font-weight: 400;
    src: url('../fonts/science-gothic-v5-cyrillic_latin-regular.woff2') format('woff2');
}


/* Great Vibes */
@font-face {
    font-display: swap;
    font-family: 'Great Vibes';
    font-weight: 400;
    src: url('../fonts/great-vibes-v21-cyrillic_latin-regular.woff2') format('woff2');
}

:root {
    --color-base-white: #ffffff;
    --color-primary-light: #ededed;
    --color-primary-brown: #b0a99d;
    --color-primary-dark: #1a1a1a;
    --color-secondary-brown: #736e68;
    --color-emissive: #f5ca9f;

}

/* Base */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

body {
    font-family: 'Cormorant';
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    background-image:
        url(../images/body-background.jpg);
    background-size: 1440px 1440px;
    background-position: center;
    background-repeat: repeat;
    z-index: -99;
    color: var(--color-primary-light);
    /* font-family: ; */
    /* font-size: ; */
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 /* Base For Screen reader */
.visually-hidden {          
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 24px;
}


/* Button  */

.button-order {
    font-family: 'Cormorant';
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
    width: 164px;
    height: 55px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    box-shadow:
    0 0 9px 1px rgba(255, 255, 255, 1),/* смещение, размытие, spread (толщина), цвет прозрачность */ 
    inset 0 0 9px 1px rgba(255, 255, 255, 1);/* inner glow */;
    cursor: pointer;
}

.button-order:hover {
    box-shadow:
    0 0 30px 8px rgba(255, 255, 255, 0.5),
    inset 0 0 30px 8px rgba(255, 255, 255, 0.5);
}

.button-order:active {
    background-color: rgba(245, 202, 159, 0.2);
    box-shadow:
        0 0 30px 8px rgba(255, 255, 255, 0.5),
        inset 0 0 30px 8px rgba(255, 255, 255, 0.5);
}

/* Header */
/* Dropdawn Navbar */

.container-header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-block {
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.header-nav::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 1px;
    background-color: var(--color-primary-light);
    top: -13px;
}


.header-nav__diamond {
    position: absolute;
    background-color: var(--color-primary-light);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    top: -18px;
    left: 65px;
    transition: left 0.5s ease;
    pointer-events: none;
    /* box-shadow: 0 0 20px 1px var(--color-emissive); */
}


.header-nav__diamond__light {
    position: absolute;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 20px 7px var(--color-emissive);
    animation-name: diamond-light;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes diamond-light {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-nav__bar {
    display: flex;
    gap: 50px;
    overflow: hidden;
    background-color: transparent;
    /* font-family: ; */
}

.header-nav__bar__dropdawn-button {
    padding: 0;
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.header-nav__bar__dropdawn-button:hover {
    color: var(--color-primary-brown);
    cursor: pointer;

}

.header-nav__bar__dropdawn {
    float: left;
    overflow: hidden;
}

.header-nav__bar__dropdawn-content {
    font-size: 20px;
    font-weight: 500;
    display: none;
    position: absolute;
    background-color: rgba(237, 237, 237, 0.1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -10px;
}

.header-nav__bar__dropdawn-content::before {
    content: '';
    position: absolute;
    background-color: var(--color-primary-light);
    width: 120px;
    height: 1px;
    left: 20px;
    top: 50px;
}

.header-nav__bar__dropdawn:hover .header-nav__bar__dropdawn-content {
    display: block;
}

.header-nav__bar__dropdawn-content a {
    text-align: center;
    padding: 15px 0px;
    display: block;
}

/* Logotype */
.logo-header {
    position: relative;
    /* color: white; */
    /* box-shadow:
    0 0 9px 1px rgba(255, 255, 255, 1),
    inset 0 0 9px 1px rgba(255, 255, 255, 1); */
}

.logo-header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -45px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    background: radial-gradient(circle,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.15) 30%,
    rgba(255, 255, 255, 0) 62%,
    rgba(255, 255, 255, 0) 100%);
}



/* Link */

a {
    text-decoration: none;
}

.header-link {
    /* color:var(--color-primary-brown); */
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
}

.header-link:hover {
    color:var(--color-primary-brown);
}

.header-link__dropdawn {
    color: var(--color-primary-light);
    text-transform: uppercase;
    font-family: 'Cormorant';
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.header-link__dropdawn:hover {
    text-shadow: 0 0 15px var(--color-emissive);
    color: var(--color-primary-brown)
}

.footer-link {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    font-weight: 500;
    color: var(--color-primary-brown);
}

.footer-link:hover {
    color: var(--color-primary-light);
}

.footer-link.address {
    font-size: 18px;
    font-weight: 500;
}

/* Hero section */

.hero-section {
    background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.15) 10%,
    rgba(255, 255, 255, 0) 16%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.3) 14%,
    rgba(255, 255, 255, 0) 28%),
    url(../images/hero-section-background-light.png), 
    url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 643px 0px 86px 0px;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 4px solid var(--color-primary-brown);
    
}

.hero-section__title {
    max-width: 560px;
    margin: 0 0 24px 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary-light);
}

.hero-section__title__h2 {
    max-width: 560px;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-primary-brown);
}

/* Advantages section */



.advantages-section {
    margin-bottom: 60px;
}



.advantages-section span,h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.advantages-section__block {
    display: flex;
    justify-content: space-between;
}

.advantages-section__text {
    padding: 34px 0;
    overflow: hidden;
    font-size: 24px;
    font-weight: 500;
}

.advantages-section__text__title {
    text-align: center;
}

.advantages-section__text li {
    margin-bottom: 40px;
}

.advantages-section .frame {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 558px;
    border: 2px solid var(--color-primary-light);
    padding: 34px 40px 34px 34px;
    box-shadow: 
    0 0 6px 1px var(--color-emissive),/* смещение, размытие, spread (толщина), цвет прозрачность */
    inset 0 0 6px 1px var(--color-emissive);/* inner glow */;
}

/* Services section */

.services-section {
    margin-bottom: 90px;
}

.services-section h3,h4 {
    margin: 0 0 16px 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: none;
}

.services-section p {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.services-section__title {
    margin: 0 0 25px 0;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: uppercase;
    text-align: center;
}

.services-section__decor {
    position: relative;
}

.services-section__decor::before {
    content: '';
    position: absolute;
    width: 1180px;
    height: 1px;
    background-color: var(--color-primary-light);
    top: -17px;
    box-shadow: 
        0 -5px 15px #00d4ff, /* Свечение СВЕРХУ (отрицательный y-offset) */
        0 5px 15px #00d4ff; /* Свечение СНИЗУ (положительный y-offset) */;
}

.services-section__deer {
    position: relative;
    width: 724px;
    height: 434px;
    overflow: hidden;
}

.services-section__deer video {
    width: 724px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__deer .services-section__deer__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__deer:hover .services-section__deer__text {
    opacity: 0;
}

.services-section__computer {
    position: relative;
    width: 450px;
    height: 434px;
    overflow: hidden;
}

.services-section__computer video {
    width: 450px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__computer .services-section__computer__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__computer:hover .services-section__computer__text {
    opacity: 0;
}

.services-section__top-part {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin: 0 0 6px 0;
}

.services-section__blueprint {
    position: relative;
    width: 450px;
    height: 434px;
    overflow: hidden;
}

.services-section__blueprint video {
    width: 450px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__blueprint .services-section__blueprint__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__blueprint:hover .services-section__blueprint__text {
    opacity: 0;
}

.services-section__interior {
    position: relative;
    width: 724px;
    height: 434px;
    overflow: hidden;
}

.services-section__interior video {
    width: 724px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__interior .services-section__interior__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__interior:hover .services-section__interior__text {
    opacity: 0;
}

.services-section__woodwork {
    position: relative;
    width: 1180px;
    height: 250px;
    overflow: hidden;
}

.services-section__woodwork video {
    width: 1180px;
    height: 250px;
    object-fit: cover;
    object-position: center bottom;
    pointer-events: none;
}

.services-section__woodwork .services-section__woodwork__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__woodwork:hover .services-section__woodwork__text {
    opacity: 0;
}

.services-section__bottom-part {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

/* Reviews section */

.reviews-section {
    margin-bottom: 144px;
}

.reviews-section__decor {
    position: relative;
}

.reviews-section__decor::before {
    content: '';
        position: absolute;
        width: 1074px;
        height: 1px;
        background-color: var(--color-primary-light);
        top: -17px;
        left: center;
        box-shadow:
        0 -5px 15px #00d4ff,
        0 5px 15px #00d4ff;
        left: 52px;
}

.reviews-section__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: uppercase;
    text-align: center;
}

.reviews-section h3 {
    margin-bottom: 2px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: none;
}

.reviews-section p {
    color: var(--color-primary-brown);
    font-size: 22px;
    font-weight: 400;
}

.reviews-list {
    display: flex;
    gap: 12px;
    justify-content: center;
    position: relative;
}

/* Arrow button */

.reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 15px;
}

.reviews-arrow-ico {
    fill: var(--color-primary-brown);
    
}

.reviews-arrow-ico:hover {
    fill: var(--color-primary-light);
    cursor: pointer;
}

.reviews-card {
    position: relative;
    border: 1px solid var(--color-primary-brown);
    padding: 380px 30px 54px 30px ;
    width: 344px;
    height: 544px;
    text-align: center;
}

.reviews-card::before {
    content: '';
    z-index: -1;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.7);
    backdrop-filter: blur(13px);
    width: 100%;
    height: 35%;

}

.reviews-card.Natalia {
    z-index: -2;
    background-image: url(../images/Natalia.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reviews-card.Oleksandr {
    z-index: -2;
    background-image: url(../images/Oleksandr.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reviews-card.Irina {
    z-index: -2;
    background-image: url(../images/Irina.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reviews-card__stars {
    position: absolute;
    display: flex;
    gap: 32px;
    bottom: 28px;
    left: 60px;
}

.star {
    width: 18px;
    height: 18px;
    background-color: var(--color-emissive);
    box-shadow: 
    inset 0 0 15px 1px rgba(1, 1, 1, 0.2),
    0 0 15px 1px var(--color-emissive);
    transform: rotate(-45deg);
}

.star.white {
    background-color: var(--color-primary-light);
    box-shadow: none;
}

.reviews-list::after {
    content: '';
    position: absolute;
    width: 1074px;
    height: 1px;
    background-color: var(--color-primary-light);
    bottom: -96px;
    box-shadow:
    0 -5px 15px #00d4ff,
    0 5px 15px #00d4ff;
}
/* Footer */

.footer-box {
    align-items: center;
    display: flex;
    height: 350px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    position: relative;
    border-bottom: 1px solid var(--color-primary-brown);
    border-top: 1px solid var(--color-primary-brown);
    box-shadow: 
        0 -5px 13px -5px var(--color-emissive),
        0 5px 13px -5px var(--color-emissive),
        inset 0 0 170px 70px rgba(1, 1, 1, 0.8);
    margin-bottom: 8px;
    /* z-index: -90; */
}

.footer-items {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.footer-items::before {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    background-image: url(../images/footer-Frame.svg);
    width: 1180px;
    height: 310px;
    pointer-events: none;
}

.logo-footer {
    position: relative;
    /* color: white; */
}

.logo-footer::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    background: radial-gradient(circle,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.15) 30%,
    rgba(255, 255, 255, 0) 62%,
    rgba(255, 255, 255, 0) 100%);
}

address {
    display: flex;
    gap: 80px;
    align-items: center;
}

.address-icon {
    fill: var(--color-primary-brown);
}

.address-icon:hover {
    fill: var(--color-primary-light);
    box-shadow: 0 0 15px 1px var(--color-emissive);
}

.icon-shadow {
    display: flex;
    position: relative;
}

.icon-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    box-shadow: inset 0 0 14px 1px rgba(1, 1, 1, 0.7);
    pointer-events: none;
}

.address-icons-box {
    justify-content: center;
    gap: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
}

.address__title {
    text-align: center;
    margin-bottom: 15px;
    color: var(--color-primary-brown);
    font-family: 'Cormorant Infant';
    font-size: 30px;
    font-weight: 500;
}

.address__text {
    text-align: left;
    color: var(--color-primary-brown);
    font-size: 18px;
    font-weight: 500;
}

.address__text li {
    margin-bottom: 8px;
}

.test-box {
    position: absolute;
    width: 100%;
    max-width: 1144px;
    height: 276px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
    box-shadow: inset 0 0 150px 3px rgba(1, 1, 1, 1);
}

/* Modal */

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.9);
    z-index: 10;
    
}

.modal {
    position: relative;
    width: 700px;
    height: 700px;
    border: 1px solid var(--color-base-white);
    box-shadow: 
    0 0 50px 1px var(--color-emissive),
    inset 0 0 50px 1px var(--color-emissive),
    inset 0 0 200px 80px rgba(26, 26, 26, 1),
    inset 0 0 0 800px rgb(90, 90, 90);
    display: flex;
    justify-content: center;
}

.backdrop.is-hidden {
    display: none;
    /* opacity: 0;
    visibility: hidden;  для анимации
    point-events: none;*/
}

.modal-button__close {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 26px;
    top: 26px;
}

