/* Fonts */

/* montserrat-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 100;
    src: url('../fonts/montserrat-v31-latin-100.woff2') format('woff2');
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

/* cormorant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 400;
    src: url('../fonts/cormorant-v24-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 500;
    src: url('../fonts/cormorant-v24-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 700;
    src: url('../fonts/cormorant-v24-cyrillic_latin-700.woff2') format('woff2');
}

/* cormorant-infant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 500;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 600;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-600.woff2') format('woff2');
}

/* science-gothic */
@font-face {
    font-display: swap;
    font-family: 'Science Gothic';
    font-weight: 400;
    src: url('../fonts/science-gothic-v5-cyrillic_latin-regular.woff2') format('woff2');
}


/* Great Vibes */
@font-face {
    font-display: swap;
    font-family: 'Great Vibes';
    font-weight: 400;
    src: url('../fonts/great-vibes-v21-cyrillic_latin-regular.woff2') format('woff2');
}

:root {
    --color-base-white: #ffffff;
    --color-primary-light: #ededed;
    --color-primary-brown: #b0a99d;
    --color-primary-dark: #1a1a1a;
    --color-secondary-brown: #736e68;
    --color-emissive: #f5ca9f;

}

/* Base */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

body {
    font-family: 'Cormorant';
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    background-image:
        url(../images/body-background.jpg);
    background-size: 1440px 1440px;
    background-position: center;
    background-repeat: repeat;
    z-index: -99;
    color: var(--color-primary-light);
    /* font-family: ; */
    /* font-size: ; */
}


address {
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 /* Base For Screen reader */
.visually-hidden {          
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    padding: 0 24px;
}


/* Button  */

.button-order {
    font-family: 'Cormorant';
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
    width: 164px;
    height: 55px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    box-shadow:
    0 0 9px 1px rgba(255, 255, 255, 1),/* смещение, размытие, spread (толщина), цвет прозрачность */ 
    inset 0 0 9px 1px rgba(255, 255, 255, 1);/* inner glow */;
    cursor: pointer;
}

.button-order:hover {
    box-shadow:
    0 0 30px 8px rgba(255, 255, 255, 0.5),
    inset 0 0 30px 8px rgba(255, 255, 255, 0.5);
}

.button-order:active {
    background-color: rgba(245, 202, 159, 0.2);
    box-shadow:
        0 0 30px 8px rgba(255, 255, 255, 0.5),
        inset 0 0 30px 8px rgba(255, 255, 255, 0.5);
}


/* Preload */

.preloader {
    position: fixed;
    inset: 0;
    background-color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    animation-name: preloader-apear;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes preloader-apear {
    0% {
        opacity: 1;
        visibility: visible;
    }

    60% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.preloader__logo {
    animation-name: logo-apear;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes logo-apear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* Header */
/* Dropdawn Navbar */

.container-header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-block {
    gap: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 0;
    width: 100%;
}

/* .header-block.photoshop {
    position: relative;
    margin-bottom: 70px;
} */

.header-nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.header-nav::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 1px;
    background-color: var(--color-primary-light);
    top: -13px;
    box-shadow: 
    0 0px 12px 1px var(--color-base-white);
}


.header-nav__diamond {
    position: absolute;
    background-color: var(--color-primary-light);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    top: -18px;
    left: 65px;
    transition: left 0.5s ease;
    pointer-events: none;
    /* box-shadow: 0 0 20px 1px var(--color-emissive); */
}


.header-nav__diamond__light {
    position: absolute;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 20px 7px var(--color-emissive);
    animation-name: diamond-light;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes diamond-light {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-nav__bar {
    display: flex;
    gap: 50px;
    overflow: hidden;
    background-color: transparent;
    /* font-family: ; */
}

.header-nav__bar__dropdawn-button {
    padding: 0;
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.header-nav__bar__dropdawn-button:hover {
    color: var(--color-primary-brown);
    cursor: pointer;

}

.header-nav__bar__dropdawn {
    float: left;
    overflow: hidden;
}

.header-nav__bar__dropdawn-content {
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgba(237, 237, 237, 0.1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -10px;
    transition: visibility 1s, opacity 1s;
}

.header-nav__bar__dropdawn-content::before {
    content: '';
    position: absolute;
    background-color: var(--color-primary-light);
    width: 120px;
    height: 1px;
    left: 20px;
    top: 50px;
}

.header-nav__bar__dropdawn:hover .header-nav__bar__dropdawn-content {
    opacity: 1;
    visibility: visible; 
}

.header-nav__bar__dropdawn-content a {
    text-align: center;
    padding: 15px 0px;
    display: block;
}

/* Logotype */
.logo-header {
    position: relative;
    /* color: white; */
    /* box-shadow:
    0 0 9px 1px rgba(255, 255, 255, 1),
    inset 0 0 9px 1px rgba(255, 255, 255, 1); */
}

.logo-header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -45px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    background: radial-gradient(circle,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.15) 30%,
    rgba(255, 255, 255, 0) 62%,
    rgba(255, 255, 255, 0) 100%);
}



/* Link */

a {
    text-decoration: none;
}

.header-link {
    /* color:var(--color-primary-brown); */
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-light);
    text-transform: uppercase;
    transition: color 0.3s;
}

.header-link:hover {
    color:var(--color-primary-brown);
}

.header-link__dropdawn {
    color: var(--color-primary-light);
    text-transform: uppercase;
    font-family: 'Cormorant';
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.5s, text-shadow 0.5s;
}

.header-link__dropdawn:hover {
    text-shadow: 0 0 15px var(--color-emissive);
    color: var(--color-primary-brown)
}

.footer-link {
    font-family: 'Cormorant Infant';
    font-size: 30px;
    font-weight: 500;
    color: var(--color-primary-brown);
    transition: color 0.5s;
}

.footer-link:hover {
    color: var(--color-primary-light);
}

.footer-link.address {
    font-size: 18px;
    font-weight: 500;
}

/* Hero section */

.hero-section {
    background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.15) 10%,
    rgba(255, 255, 255, 0) 16%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.3) 14%,
    rgba(255, 255, 255, 0) 28%),
    /* url(../images/hero-section-background-light.png),  */
    url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 643px 0px 15px 0px;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 4px solid var(--color-primary-brown);
    
}

.hero-light {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/hero-section-background-lights.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    pointer-events: none;
    animation-name: hero-lighting;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hero-lighting {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero-section__title {
    max-width: 560px;
    margin: 0 0 24px 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary-light);
}

.hero-section__title__h2 {
    max-width: 560px;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-primary-brown);
}

.hero-text-overflow {
    background-color: rgba(1, 1, 1, 0.4);
    max-width: 560px;
    padding: 20px;
}

/* Advantages section */



.advantages-section {
    margin-bottom: 60px;
}



.advantages-section span,h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.advantages-section__block {
    display: flex;
    justify-content: space-between;
}

.advantages-section__text {
    position: relative;
    padding: 34px 0;
    font-size: 24px;
    font-weight: 500;
}

.advantages-section__text__title {
    text-align: center;
}

.advantages-section__text__icon {
    position: absolute;
    top: 30px;
    left: 40px;
    fill: var(--color-primary-light);
}

.advantages-section__text__icon-right {
    position: absolute;
    top: 30px;
    right: 44px;
    fill: var(--color-primary-light);
}


.advantages-section__text li {
    margin-bottom: 40px;
}

.advantages-section_li_decor {
    position: relative;
}

.advantages-section_li_decor::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    top: 9px;
    left: -35px;
    box-shadow: 0 0 20px 2px var(--color-emissive);

}


.advantages-section .frame {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 558px;
    border: 2px solid var(--color-primary-light);
    padding: 34px 40px 34px 34px;
    box-shadow: 
    0 0 6px 1px var(--color-emissive),/* смещение, размытие, spread (толщина), цвет прозрачность */
    inset 0 0 6px 1px var(--color-emissive);/* inner glow */;
}

/* Services section */

.services-section {
    margin-bottom: 90px;
}

.services-section h3,h4 {
    margin: 0 0 16px 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: none;
}

.services-section p {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.services-section__title {
    margin: 0 0 25px 0;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: uppercase;
    text-align: center;
}

.services-section__decor {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    gap: 15px;
}

.services-section__decor::before {
    content: '';
    position: absolute;
    width: 1180px;
    height: 1px;
    background-color: var(--color-primary-light);
    top: -17px;
    box-shadow: 
        0 -5px 15px #00d4ff, /* Свечение СВЕРХУ (отрицательный y-offset) */
        0 5px 15px #00d4ff; /* Свечение СНИЗУ (положительный y-offset) */;
}

.services-section__romb {
    background-color: var(--color-base-white);
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    margin-bottom: 25px;
}



.services-section__deer {
    position: relative;
    width: 724px;
    height: 434px;
    overflow: hidden;
}

.services-section__deer video {
    width: 724px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__deer .services-section__deer__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__deer:hover .services-section__deer__text {
    opacity: 0;
}

.services-section__computer {
    position: relative;
    width: 450px;
    height: 434px;
    overflow: hidden;
}

.services-section__computer video {
    width: 450px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__computer .services-section__computer__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__computer:hover .services-section__computer__text {
    opacity: 0;
}

.services-section__top-part {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin: 0 0 6px 0;
}

.services-section__blueprint {
    position: relative;
    width: 450px;
    height: 434px;
    overflow: hidden;
}

.services-section__blueprint video {
    width: 450px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__blueprint .services-section__blueprint__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__blueprint:hover .services-section__blueprint__text {
    opacity: 0;
}

.services-section__interior {
    position: relative;
    width: 724px;
    height: 434px;
    overflow: hidden;
}

.services-section__interior video {
    width: 724px;
    height: 434px;
    object-fit: cover;
    pointer-events: none;
}

.services-section__interior .services-section__interior__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__interior:hover .services-section__interior__text {
    opacity: 0;
}

.services-section__woodwork {
    position: relative;
    width: 1180px;
    height: 250px;
    overflow: hidden;
}

.services-section__woodwork video {
    width: 1180px;
    height: 250px;
    object-fit: cover;
    object-position: center bottom;
    pointer-events: none;
}

.services-section__woodwork .services-section__woodwork__text {
    flex-direction: column;
    position: absolute;
    padding: 20px;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: start;
    justify-content: end;
    text-align: left;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.services-section__woodwork:hover .services-section__woodwork__text {
    opacity: 0;
}

.services-section__bottom-part {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

/* Reviews section */

.reviews-section {
    margin-bottom: 144px;
}

.reviews-section__decor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.reviews-section__decor::before {
    content: '';
    position: absolute;
    width: 1074px;
    height: 1px;
    background-color: var(--color-primary-light);
    top: -17px;
    left: center;
    box-shadow:
    0 -5px 15px #00d4ff,
    0 5px 15px #00d4ff;
    left: 52px;
}

.reviews-section__romb {
    background-color: var(--color-base-white);
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    margin-bottom: 25px;
}

.reviews-section__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: uppercase;
    text-align: center;
}

.reviews-section h3 {
    margin-bottom: 2px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: none;
}

.reviews-section p {
    color: var(--color-primary-brown);
    font-size: 22px;
    font-weight: 400;
}

.reviews-list {
    display: flex;
    gap: 12px;
    justify-content: center;
    position: relative;
}

/* Arrow button */

.reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 15px;
}

.reviews-arrow-ico {
    fill: var(--color-primary-brown);
    transition: fill 0.3s, transform 0.3s;
}

.reviews-arrow-ico:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.reviews-arrow-ico:active {
    fill: var(--color-primary-darkt);
}

.reviews-card {
    position: relative;
    border: 1px solid var(--color-primary-brown);
    padding: 380px 30px 54px 30px ;
    width: 344px;
    height: 544px;
    text-align: center;
}

.reviews-card::before {
    content: '';
    z-index: -1;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.7);
    backdrop-filter: blur(13px);
    width: 100%;
    height: 35%;

}

.reviews-card.Natalia {
    z-index: -2;
    background-image: url(../images/Natalia.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reviews-card.Oleksandr {
    z-index: -2;
    background-image: url(../images/Oleksandr.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reviews-card.Irina {
    z-index: -2;
    background-image: url(../images/Irina.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.reviews-card__stars {
    position: absolute;
    display: flex;
    gap: 32px;
    bottom: 28px;
    left: 60px;
}

.star {
    width: 18px;
    height: 18px;
    background-color: var(--color-emissive);
    box-shadow: 
    inset 0 0 15px 1px rgba(1, 1, 1, 0.2),
    0 0 15px 1px var(--color-emissive);
    transform: rotate(-45deg);
}

.star.white {
    background-color: var(--color-primary-light);
    box-shadow: none;
}

.reviews-list::after {
    content: '';
    position: absolute;
    width: 1074px;
    height: 1px;
    background-color: var(--color-primary-light);
    bottom: -96px;
    box-shadow:
    0 -5px 15px #00d4ff,
    0 5px 15px #00d4ff;
}
/* Footer */

.footer-box {
    align-items: center;
    display: flex;
    height: 350px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    position: relative;
    border-bottom: 1px solid var(--color-primary-brown);
    border-top: 1px solid var(--color-primary-brown);
    box-shadow: 
        0 -5px 13px -5px var(--color-emissive),
        0 5px 13px -5px var(--color-emissive),
        inset 0 0 170px 70px rgba(1, 1, 1, 0.8);
    margin-bottom: 8px;
    /* z-index: -90; */
}

.footer-items {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.footer-items::before {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    background-image: url(../images/footer-Frame.svg);
    width: 1180px;
    height: 310px;
    pointer-events: none;
}

.logo-footer {
    position: relative;
    /* color: white; */
}

.logo-footer::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    background: radial-gradient(circle,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.15) 30%,
    rgba(255, 255, 255, 0) 62%,
    rgba(255, 255, 255, 0) 100%);
}

address {
    display: flex;
    gap: 80px;
    align-items: center;
}

.address-icon {
    fill: var(--color-primary-brown);
    transition: box-shadow 0.7s, fill 0.7s;
}

.address-icon:hover {
    fill: var(--color-primary-light);
    box-shadow: 0 0 15px 1px var(--color-emissive);
}

.icon-shadow {
    display: flex;
    position: relative;
}

.icon-shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    box-shadow: inset 0 0 14px 1px rgba(1, 1, 1, 0.7);
    pointer-events: none;
}

.address-icons-box {
    justify-content: center;
    gap: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
}

.address__title {
    text-align: center;
    margin-bottom: 15px;
    color: var(--color-primary-brown);
    font-family: 'Cormorant Infant';
    font-size: 30px;
    font-weight: 500;
}

.address__text {
    text-align: left;
    color: var(--color-primary-brown);
    font-size: 18px;
    font-weight: 500;
}

.address__text li {
    margin-bottom: 8px;
}

.test-box {
    position: absolute;
    width: 100%;
    max-width: 1144px;
    height: 276px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
    box-shadow: inset 0 0 150px 3px rgba(1, 1, 1, 1);
}

/* Modal */

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.9);
    z-index: 10;
    padding: 20px;
    transition: opacity 1s, visibility 1s;
    
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    /* overflow: auto; */
    border: 1px solid var(--color-base-white);
    box-shadow: 
    0 0 50px 1px var(--color-emissive),
    inset 0 0 50px 1px var(--color-emissive),
    inset 0 0 200px 80px rgba(26, 26, 26, 1),
    inset 0 0 0 800px rgb(90, 90, 90);
    display: flex;
    padding: 10px 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden; 
    pointer-events: none;
}

.modal-title {
    color: var(--color-primary-brown);
    text-align: center;
    font-size: 34px;
    font-weight: 400;
}

.modal-button__close {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 34px;
    height: 34px;
    right: 26px;
    top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 1s linear, border 1s linear;
}

.modal-button__close:hover {
    border: 1px solid var(--color-base-white);
    box-shadow: 
    0 0 3px 1px var(--color-emissive),
    inset 0 0 3px 1px var(--color-emissive);
}

/* .modal-button__close:active {
    box-shadow: inset 0 0 15px 1px rgba(255, 255, 255, 0.8);
} */

.modal-icon {
    fill: var(--color-primary-light);
}

/* Form */

.order-form {
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border: 1px solid rgba(49, 49, 49, 0.66);
    background-color: rgba(49, 49, 49, 0.66);
    transition: border 1s, box-shadow 1s;
    font-family: 'Cormorant Infant';
    font-size: 22px;
    color: var(--color-emissive);
}

.form-input:focus {
    border: 1px solid var(--color-base-white);
    outline: none;
    box-shadow: 
    0 0 5px 1px var(--color-emissive),
    inset 0 0 5px 1px var(--color-emissive);
}

.form-input::placeholder {
    font-family: 'Cormorant Infant';
    font-size: 22px;
}


.form-label {
    display: block;
}

.form-field {
    position: relative;
    margin-bottom: 25px;
}

.modal-icon-input {
    fill: rgba(128, 128, 128, 0.8);
    /* fill: var(--color-emissive); */
    position: absolute;
    top: 9px;
    left: 8px;
    transition: fill 1s;
}

.form-input:focus + .modal-icon-input {
    fill: var(--color-emissive);
}

.form-input:not(:placeholder-shown) + .modal-icon-input {
    fill: var(--color-emissive);
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-button {
    font-family: 'Cormorant';
    padding: 24px 17px;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary-brown);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    /* box-shadow:
    0 0 9px 1px var(--color-emissive),
    inset 0 0 9px 1px var(--color-emissive); */
    cursor: pointer;
    transition: box-shadow 1s, color 1s, background-color 1s, outline-color 1s, utline-offset 1s;
    animation-name: from-button-light;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.form-button:hover {
    color: var(--color-primary-light);
    background-color: rgba(1, 1, 1, 0.2);
}

.form-button:active {
    box-shadow: inset 0 0 40px 2px rgba(255, 255, 255, 0.7);
}

@keyframes from-button-light {
    0% {
        box-shadow:
        0 0 12px 1px var(--color-emissive),
        inset 0 0 12px 1px var(--color-emissive);
    }

    50% {
        box-shadow:
        0 0 2px 1px var(--color-emissive),
        inset 0 0 2px 1px var(--color-emissive);
       
    }

    100% {
        box-shadow:
        0 0 12px 1px var(--color-emissive),
        inset 0 0 12px 1px var(--color-emissive);
    }
}

/* Modal select */

.select-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.select-window {
    color: var(--color-primary-brown);
    text-align: center;
    padding: 8px;
    font-family: 'Cormorant Infant';
    font-size: 22px;
    background-color: rgba(49, 49, 49, 0.66);
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.66);
    transition: border 1s, box-shadow 1s, color 1s;
    cursor: pointer;
}

.select-window:focus {
    color: var(--color-emissive);
    border: 1px solid var(--color-base-white);
    outline: none;
    box-shadow:
    0 0 5px 1px var(--color-emissive),
    inset 0 0 5px 1px var(--color-emissive);
}


.select-window.hour {
    font-family: 'Science Gothic';
    font-size: 18px;
    width: 100px;
}

.select-window.minute {
    font-family: 'Science Gothic';
    font-size: 18px;
    width: 100px;
}

.select-window.day-week {
    width: 278px;
}

/* Button to top */

.button-to-top {
    display: none;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: fixed;
    background-color: transparent;
    bottom: 150px;
    right: 70px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-base-white);
    box-shadow: 0 0 5px 1px var(--color-emissive),
    inset 0 0 5px 1px var(--color-emissive);
    animation-name: button-to-top;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 99;
}

@keyframes button-to-top {
    0% {
        box-shadow: 0 0 5px 1px var(--color-emissive),
        inset 0 0 5px 1px var(--color-emissive);
    }

    50% {
        box-shadow: 0 0 15px 1px var(--color-emissive),
        inset 0 0 10px 1px var(--color-emissive);
    }

    100% {
        box-shadow: 0 0 5px 1px var(--color-emissive),
        inset 0 0 5px 1px var(--color-emissive);
    }
}

.button-to-top:hover {
    animation-name: button-to-top-hover;
    animation-duration: 2s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes button-to-top-hover {
    0% {
        /* outline: 1px solid var(--color-base-white); */
        transform: scale(1);
    }

    100% {
        /* outline: 1px solid var(--color-base-white); */
        transform: scale(2);
        opacity: 0;
    }
    
}

.button-to-top:active {
    animation-name: button-to-top-active;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 0.1s;
}

@keyframes button-to-top-active {
    0% {
        transform: translate(0)
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}


.button-to-top-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 7px;
    top: 5px;
    fill: var(--color-emissive);
}





/* Photoshop page */

.photo-hero-section {
    padding: 200px 0 20px 0;
    background-color: rgba(1, 1, 1, 0.3);
    color: var(--color-primary-light);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', monospace;
    margin-bottom: 20px;
    font-weight: 100;
}

.photo-section {
    margin-bottom: 30px;
}

.photo-section-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.photo-section-wrap-coloumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.photo-section-wrap-coloumn__item {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 15px;
}

.photo-section-wrap-coloumn__item img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.3s linear, opacity 0.3s;
}

.photo-section-wrap-coloumn__item:hover img {
    transform: scale(1.1);
    opacity: 0.7;
    cursor: pointer;
}

/* backdrop-photoshop */

.backdrop-photoshop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(1, 1, 1, 0.9);
    z-index: 1000;
    opacity: 0;
    visibility: none;
    pointer-events: none;
    transition: opacity 1s, visibility 1s;
}

.backdrop-photoshop.open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    
}


.modal-photoshop__close__btn {
    padding: 5px;
    margin: 0;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: none;
    transition: box-shadow 1s;
}

.modal-photoshop__close__btn:hover {
    box-shadow: 0 0 5px 1px var(--color-emissive),
    inset 0 0 5px 1px var(--color-emissive);
}

.modal-photoshop-icon {
    fill: var(--color-primary-light);
}

.modal-image-wrapper {
    position: relative;
}
.modal-image-wrapper img {
    display: block;
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.modal-image-wrapper .before-image {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.3s linear;
    pointer-events: none;

}

.modal-image-wrapper.show-before .before-image {
    opacity: 1;
}

.before-toogle-btn {
    position: absolute;
    padding: 10px;
    top: 5%;
    right: -70px;
    transition: transform 0.4s linear, opacity 0.4s linear;
    opacity: 0;
    font-family: 'Cormorant';
    font-size: 24px;
    background-color: rgba(1, 1, 1, 0.3);
    color: white;
    border: none;
    cursor: pointer;
}

.before-toogle-btn:hover {
    border: 1px solid white;
    box-shadow: 0 0 5px 1px var(--color-emissive),
    inset 0 0 5px 1px var(--color-emissive);
}

.before-toogle-btn:active {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.modal-image-wrapper:hover .before-toogle-btn {
    transform: translate(-100px);
    opacity: 1;
}

.modal-image-wrapper.disable-toggle .before-toogle-btn {
    display: none !important;
}