h1 {
    width: 200px;
    height: 50px;
    margin: 0px;
    text-align: center;
    border: 1px solid black;
     box-shadow:
    0 0 25px 10px rgba(255, 200, 0, 0.7),      /* outer glow */
    inset 0 0 25px 10px rgba(255, 200, 0, 0.6); /* inner glow */
}
