@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 100;
    src: url('../fonts/montserrat-v31-latin-100.woff2') format('woff2');
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

/* cormorant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 400;
    src: url('../fonts/cormorant-v24-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 500;
    src: url('../fonts/cormorant-v24-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant';
    font-weight: 700;
    src: url('../fonts/cormorant-v24-cyrillic_latin-700.woff2') format('woff2');
}

/* cormorant-infant*/
@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 500;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-500.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Cormorant Infant';
    font-weight: 600;
    src: url('../fonts/cormorant-infant-v22-cyrillic_latin-600.woff2') format('woff2');
}

/* science-gothic */
@font-face {
    font-display: swap;
    font-family: 'Science Gothic';
    font-weight: 400;
    src: url('../fonts/science-gothic-v5-cyrillic_latin-regular.woff2') format('woff2');
}


/* Great Vibes */
@font-face {
    font-display: swap;
    font-family: 'Great Vibes';
    font-weight: 400;
    src: url('../fonts/great-vibes-v21-cyrillic_latin-regular.woff2') format('woff2');
}