:root {
    --color-base-white: #ffffff;
    --color-primary-light: #ededed;
    --color-primary-brown: #b0a99d;
    --color-primary-dark: #1a1a1a;
    --color-secondary-brown: #736e68;
    --color-emissive: #f5ca9f;

}