.backdrop-max {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(1, 1, 1, 0.9);
    z-index: 1000;
    transition: opacity 1.5s, visibility 1.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__content {
        margin-top: 20px;
        position: relative;
        max-width: 1200px;

        &__slides-container {
            display: flex;
            max-width: 100%;
            justify-content: center;
            user-select: none;
            -webkit-user-select: none;
        }

        &__row {
            gap: 5px;
            display: flex;
            justify-content: center;
            height: 20vh;
            margin-bottom: 20px;
        }
    }
}

.backdrop-max.open {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

// Js max-modal


.maxslides {
    position: relative;
    display: none;
    justify-content: center;
    /* display: none; */
}

.max-images {
    width: auto;
    height: 70vh;
    margin-bottom: 10px;

    @media screen and (max-width: 900px) {
        width: 90vw;
        height: auto;
        max-height: 90vh;
        object-fit: contain;
    }
}

.demo {
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    user-select: none;
    -webkit-user-select: none;
}

.prev,
.next {
    cursor: pointer;
    position: fixed;
    top: 40%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-size: 50px;
    user-select: none;
    -webkit-user-select: none;
    border: 1px solid rgba(1, 1, 1, 0.9);
    transition: border 1s, box-shadow 1s;
    transform: translateY(-50%);

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.next {
    right: 100px;

    @media screen and (max-width: 1200px) {
        right: 50px;
    }

    @media screen and (max-width: 1096px) {
        right: 10px;
    }
}

.prev {
    left: 100px;

    @media screen and (max-width: 1200px) {
        left: 50px;
    }

    @media screen and (max-width: 1096px) {
        left: 10px;
    }
}

.prev:hover,
.next:hover {
    border: 1px solid var(--color-base-white);
    box-shadow: 0 0 5px 1px var(--color-emissive),
        inset 0 0 5px 1px var(--color-emissive);
}

.slides-text {
    color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 24px;
}

.active,
.demo:hover {
    opacity: 1;
    cursor: pointer;
}

.backdrop-max__counter {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}