.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.9);
    z-index: 10;
    padding: 20px;
    transition: opacity 1s, visibility 1s;

}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    /* overflow: auto; */
    border: 1px solid var(--color-base-white);
    box-shadow:
        0 0 50px 1px var(--color-emissive),
        inset 0 0 50px 1px var(--color-emissive),
        inset 0 0 200px 80px rgba(26, 26, 26, 1),
        inset 0 0 0 800px rgb(90, 90, 90);
    display: flex;
    padding: 10px 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;



    &-button__close {
        position: absolute;
        background-color: transparent;
        border: none;
        width: 34px;
        height: 34px;
        right: 26px;
        top: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: box-shadow 1s linear, border 1s linear;


        &__icon {
            fill: var(--color-primary-light);
        }
    }

    &-button__close:hover {
        border: 1px solid var(--color-base-white);
        box-shadow:
        0 0 3px 1px var(--color-emissive),
        inset 0 0 3px 1px var(--color-emissive);
    }

    &__logo {
        width: 126px;
        height: 154px;
    }


    &__title {
        color: var(--color-primary-brown);
        text-align: center;
        font-size: 34px;
        font-weight: 400;
    }
    
}




/* Form */

.order-form {
    width: 100%;

    &__select__menu {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 25px;


        &__window {
            color: var(--color-primary-brown);
            text-align: center;
            padding: 8px;
            font-family: 'Cormorant Infant';
            font-size: 22px;
            background-color: rgba(49, 49, 49, 0.66);
            outline: none;
            border: 1px solid rgba(49, 49, 49, 0.66);
            transition: border 1s, box-shadow 1s, color 1s;
            cursor: pointer;

            &--hour {
                font-family: 'Science Gothic';
                font-size: 18px;
                width: 100px;
            }

            &--minute {
                font-family: 'Science Gothic';
                font-size: 18px;
                width: 100px;
            }

            &--day-week {
                width: 278px;
            }
        }

        &__window:focus {
            color: var(--color-emissive);
            border: 1px solid var(--color-base-white);
            outline: none;
            box-shadow:
                0 0 5px 1px var(--color-emissive),
                inset 0 0 5px 1px var(--color-emissive);
        }
    }

    &__field {
        position: relative;
        margin-bottom: 25px;

        &__label {
            display: block;
        }

        &__input {
            width: 100%;
            padding: 10px 10px 10px 45px;
            border: 1px solid rgba(49, 49, 49, 0.66);
            background-color: rgba(49, 49, 49, 0.66);
            transition: border 1s, box-shadow 1s;
            font-family: 'Cormorant Infant';
            font-size: 22px;
            color: var(--color-emissive);
        }

        &__input:focus {
            border: 1px solid var(--color-base-white);
            outline: none;
            box-shadow:
                0 0 5px 1px var(--color-emissive),
                inset 0 0 5px 1px var(--color-emissive);
        }


        &__input::placeholder {
            font-family: 'Cormorant Infant';
            font-size: 22px;
        }

        &__icon__input {
            fill: rgba(128, 128, 128, 0.8);
            /* fill: var(--color-emissive); */
            position: absolute;
            top: 9px;
            left: 8px;
            transition: fill 1s;
        }


        &__input:focus+&__icon__input {
            fill: var(--color-emissive);
        }

        &__input:not(:placeholder-shown)+&__icon__input {
            fill: var(--color-emissive);
        }


    }
    
}




















