.preloader {
    position: fixed;
    inset: 0;
    background-color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    animation-name: preloader-apear;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    &__logo {
        animation-name: logo-apear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

@keyframes preloader-apear {
    0% {
        opacity: 1;
        visibility: visible;
    }

    60% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}




@keyframes logo-apear {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}