.advantages-section {
    margin-bottom: 60px;
}



.advantages-section span,
h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.advantages-section__block {
    display: flex;
    justify-content: space-between;
}

.advantages-section__text {
    position: relative;
    padding: 34px 0;
    font-size: 24px;
    font-weight: 500;
}

.advantages-section__text__title {
    text-align: center;
}

.advantages-section__text__icon {
    position: absolute;
    top: 30px;
    left: 40px;
    fill: var(--color-primary-light);
}

.advantages-section__text__icon-right {
    position: absolute;
    top: 30px;
    right: 44px;
    fill: var(--color-primary-light);
}


.advantages-section__text li {
    margin-bottom: 40px;
}

.advantages-section_li_decor {
    position: relative;
}

.advantages-section_li_decor::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    top: 9px;
    left: -35px;
    box-shadow: 0 0 20px 2px var(--color-emissive);

}


.advantages-section .frame {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 558px;
    border: 2px solid var(--color-primary-light);
    padding: 34px 40px 34px 34px;
    box-shadow:
        0 0 6px 1px var(--color-emissive),
        /* смещение, размытие, spread (толщина), цвет прозрачность */
        inset 0 0 6px 1px var(--color-emissive);
    /* inner glow */
    ;
}