@use '../utils/' as *;

.advantages-section {
    margin-bottom: 60px;

    &__block {
        display: flex;
        gap: 60px;
        justify-content: space-between;

        @media screen and (max-width: $bp-tablet) {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        

        

        &__text {
            position: relative;
            padding: 34px 0;
            font-size: 24px;
            font-weight: 500;
            

            @media screen and (max-width: 1150px) {
                font-size: 20px;
                padding: 0 0;
            }

            &__hidden {
                @media screen and (max-width: $bp-tablet) {
                    // display: none;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 1s ease;
                }

                @media screen and (max-width: $bp-mobile) {
                    // display: none;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s ease;
                }
            }

            &__hidden.open {

                @media screen and (max-width: $bp-tablet) {
                    // display: none;
                    max-height: 1000px;
                }

                @media screen and (max-width: $bp-mobile) {
                    // display: none;
                    max-height: 1000px;
                }
            }

            &__readmore-btn {
                display: none;
                background-color: transparent;
                color: rgb(243, 218, 171);
                font-family: 'cormorant';
                font-size: 20px;
                border: none;
                padding: 5px 10px;
                font-weight: 500;


                @media screen and (max-width: $bp-tablet) {
                    display: block;
                }

                @media screen and (max-width: $bp-mobile) {
                    display: block;
                }
            }

            &__readmore-btn:active {
                color: white;
            }


            
        }
    }
}



.advantages-section span,
h3 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}



.advantages-section__text__title {
    text-align: center;

    @media screen and (max-width: 1150px) {
        font-size: 22px;
    }

}

.advantages-section__text__icon {
    position: absolute;
    top: 30px;
    left: 40px;
    fill: var(--color-primary-light);

    @media screen and (max-width: 1150px) {
        display: none;
    }

 
}

.advantages-section__text__icon-right {
    position: absolute;
    top: 30px;
    right: 44px;
    fill: var(--color-primary-light);

    @media screen and (max-width: 1150px) {
        display: none;
    }

  
}
 
.advantages-section__icon__size {
    width: 38px;
    height: 40px;
}


.advantages-section__block__text li {
    margin-bottom: 40px;

    @media screen and (max-width: 1150px) {
        margin-bottom: 30px;
    }
}

.advantages-section_li_decor {
    position: relative;

    @media screen and (max-width: $bp-tablet) {
        margin-left: 50px;
    }
}

.advantages-section_li_decor::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    top: 9px;
    left: -35px;
    box-shadow: 0 0 20px 2px var(--color-emissive);

}


.advantages-section .frame {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 558px;
    border: 2px solid var(--color-primary-light);
    padding: 34px 40px 34px 34px;
    box-shadow:
        0 0 6px 1px var(--color-emissive),
        /* смещение, размытие, spread (толщина), цвет прозрачность */
        inset 0 0 6px 1px var(--color-emissive);
    /* inner glow */
    ;

    @media screen and (max-width: $bp-tablet) {
        max-height: 700px;
    }

    @media screen and (max-width: $bp-mobile) {
        max-height: 900px;
        padding: 16px;
    }
}