.product-section__wrap {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.product-card {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 278px;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 40px 5px rgba(1, 1, 1, 0.7);
    text-align: center;
    transition: background-color 0.5s, transform 1s;
}

.product-new {
    padding: 5px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
}

.product-new p {
    margin: 0;
}

.product-card:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.05);
}

.product-image {
    width: 100%;
    margin-bottom: 10px;
}

.product-raiting {
    display: flex;
    max-width: 256px;
    justify-content: center;
}

.product-tittle {
    margin-right: 15px;
    font-size: 16px;
    max-width: 125px;
}

.star-catalog {
    margin: 0 3px;
    width: 16px;
}



.product-description {
    color: var(--color-primary-brown);
    font-family: 'Cormorant Infant';
}

.product-description span {
    color: rgb(177, 39, 15);
    text-decoration: line-through;
}

.pages-link {
    color: var(--color-primary-brown);
    font-size: 25px;
    padding: 8px 16px;
    font-family: 'Cormorant Infant';
}

.pages-link:hover:not(.pages-active) {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 10px 2px rgba(1, 1, 1, 0.7);
}


.product-pages {
    margin-top: 20px;
}

.pages-active {
    border: solid 1px var(--color-base-white);
    box-shadow: 0 0 5px 1px var(--color-emissive),
    inset 0 0 5px 1px var(--color-emissive);
    color: var(--color-base-white);
}

.pages-link.pages-active {
    color: white;
}