@use '../utils/' as *;

.product-section__wrap {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.product-card {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 278px;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 40px 5px rgba(1, 1, 1, 0.7);
    text-align: center;
    transition: background-color 0.5s, transform 1s;

    &__image {
        width: 100%;
        margin-bottom: 10px;
    }

    &__raiting {
        display: flex;
        max-width: 256px;
        justify-content: center;

        &__tittle {
            margin-right: 15px;
            font-size: 16px;
            max-width: 125px;
        }

        &__star {
            margin: 0 3px;
            width: 16px;
        }


    }


    &__description {
        color: var(--color-primary-brown);
        font-family: 'Cormorant Infant';
    }

    &__description span {
        color: rgb(177, 39, 15);
        text-decoration: line-through;
    }


    &__buy-button {
        color: var(--color-primary-brown);
        background-color: transparent;
        box-shadow: 0 0 5px 1px var(--color-emissive),
            inset 0 0 5px 1px var(--color-emissive);
        border: solid 1px white;
        margin: 0 auto 10px;
        padding: 10px 32px;
        font-family: 'Cormorant';
        font-size: 22px;
        cursor: pointer;
        transition: color 0.5s, background-color 0.5s;
        /* border-radius: 8px; */
    }

    &__buy-button:hover {
        background-color: rgba(1, 1, 1, 0.3);
        color: var(--color-base-white);
        box-shadow: 0 0 5px 1px var(--color-base-white),
            inset 0 0 5px 1px var(--color-base-white);
    }

    &__buy-button:active {
        background-color: rgba(255, 255, 255, 0.3);
    }

    &__new {
        padding: 5px;
        background-color: red;
        color: white;
        text-transform: uppercase;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 18px;
    }

    &__new p {
        margin: 0;
    }
}

.product-card:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.05);
}






.product-pages {
    margin-top: 20px;

    &__link {
        color: var(--color-primary-brown);
        font-size: 25px;
        padding: 8px 16px;
        font-family: 'Cormorant Infant';

        @media screen and (max-width: $bp-mobile) {
                font-size: 20px;
                padding: 4px 8px;
            }
    }

    &__link:hover:not(&__active) {
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 10px 2px rgba(1, 1, 1, 0.7);
    }

    &__active {
        border: solid 1px var(--color-base-white);
        box-shadow: 0 0 5px 1px var(--color-emissive),
            inset 0 0 5px 1px var(--color-emissive);
        color: var(--color-base-white);
    }


    &__link &__active {
        color: white;
    }

}



