.catalog-hero-section {
    padding: 170px 0 20px 0px;
    background-color: rgba(1, 1, 1, 0.3);
    margin-bottom: 20px;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;


        &__title {
            font-family: 'Cormorant';
            margin-bottom: 40px;
            color: var(--color-primary-light);
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            color: var(--color-primary-brown);
        }

        &__sorting-bar {
            display: flex;
            gap: 5px;
            align-items: flex-start;
        }

        &__sorting-bar p {
            color: var(--color-primary-brown);
            margin: auto 22px auto 0;
            /* text-transform: uppercase; */
        }
        
    }

}






