.footer-section {
    align-items: center;
    display: flex;
    height: 350px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    position: relative;
    border-bottom: 1px solid var(--color-primary-brown);
    border-top: 1px solid var(--color-primary-brown);
    box-shadow:
        0 -5px 13px -5px var(--color-emissive),
        0 5px 13px -5px var(--color-emissive),
        inset 0 0 170px 70px rgba(1, 1, 1, 0.8);
    margin-bottom: 8px;
    
    &__wrap {
        display: flex;
        position: relative;
        justify-content: space-around;
        // gap: 80px;
        align-items: center;

        &__box {
            position: absolute;
            width: 100%;
            max-width: 1144px;
            height: 276px;
            background-color: rgba(255, 255, 255, 0.4);
            z-index: -1;
            box-shadow: inset 0 0 150px 3px rgba(1, 1, 1, 1);
        }

        &__logo {
            position: relative;
        }

        &__logo::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -70px;
            left: -50px;
            right: -50px;
            bottom: -50px;
            background: radial-gradient(circle,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.15) 30%,
            rgba(255, 255, 255, 0) 62%,
            rgba(255, 255, 255, 0) 100%);
        }

    }

    &__wrap::before {
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        background-image: url(../images/footer-Frame.svg);
        width: 1180px;
        height: 310px;
        pointer-events: none;
    }

}




.address {
    display: flex;
    gap: 100px;
    align-items: center;

    &__title {
        text-align: center;
        margin-bottom: 15px;
        color: var(--color-primary-brown);
        font-family: 'Cormorant Infant';
        font-size: 30px;
        font-weight: 500;
    }

    &__icons__box {
        justify-content: center;
        gap: 10px 40px;
        display: flex;
        flex-wrap: wrap;
        max-width: 230px;

        &__icon {
            display: flex;
            position: relative;
        }

        &__icon::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            box-shadow: inset 0 0 14px 1px rgba(1, 1, 1, 0.7);
            pointer-events: none;
        }


    }


    &__text {
        text-align: center;
        color: var(--color-primary-brown);
        font-size: 18px;
        font-weight: 500;
    }


    &__text li {
        margin-bottom: 8px;
    }

}

.address-icon {
    fill: var(--color-primary-brown);
    transition: box-shadow 0.7s, fill 0.7s;
}

.address-icon:hover {
    fill: var(--color-primary-light);
    box-shadow: 0 0 15px 1px var(--color-emissive);
}










