@use '../utils/' as *;

.container__header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header__block {
    // gap: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 0;
    width: 100%;

    @media screen and (max-width: 900px) {
        padding: 0 20px;
        justify-content: space-between;
    }

    &__text {
        display: none;

        @media screen and (max-width: 900px) {
            display: block;
            color: var(--color-primary-light);
            text-transform: uppercase;
            font-size: 35px;
            margin-right: 35px;
        }
    
        @media screen and (max-width: $bp-mobile) {
            display: block;
            color: var(--color-primary-light);
            text-transform: uppercase;
            font-size: 28px;
            margin-right: 20px;
        }
    }

    &__burger-button {
        display: none;
        padding: 0;
        background-color: transparent;
        border: none;

        @media screen and (max-width: 900px) {
            display: block;
        }

        &-icon {
            fill: var(--color-primary-light);
        }
    }

    
    &__button {
        @media screen and (max-width: $bp-desktop) {
            display: none;
        }
    }

    &__logo {
        position: relative;
        width: 113px;
        height: 136px;

        @media screen and (max-width: 900px) {
            width: 80px;
            height: 96px;
        }

        @media screen and (max-width: $bp-mobile) {
            width: 50px;
            height: 60px;
        }
    
    }
    
    &__logo::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -45px;
        left: -25px;
        right: -25px;
        bottom: -25px;
        background: radial-gradient(circle,
                rgba(255, 255, 255, 0.7) 0%,
                rgba(255, 255, 255, 0.15) 30%,
                rgba(255, 255, 255, 0) 62%,
                rgba(255, 255, 255, 0) 100%);
    }


}


.header__nav {
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and (max-width: 900px) {
        display: none;
    }

    &__diamond {
        position: absolute;
        background-color: var(--color-primary-light);
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        top: -18px;
        left: 65px;
        transition: left 0.5s ease;
        pointer-events: none;
        /* box-shadow: 0 0 20px 1px var(--color-emissive); */
    }
    
    
    &__diamond__light {
        position: absolute;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 20px 7px var(--color-emissive);
        animation-name: diamond-light;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes diamond-light {
        0% {
            opacity: 1;
        }
    
        50% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    &__bar {
        display: flex;
        gap: 50px;
        overflow: hidden;
        background-color: transparent;
        /* font-family: ; */

        &__dropdawn {
            float: left;
            overflow: hidden;

            &__button {
                padding: 0;
                font-family: 'Cormorant';
                font-size: 24px;
                font-weight: 500;
                color: var(--color-primary-light);
                text-transform: uppercase;
                background-color: transparent;
                border: none;
            }
            
            &__button:hover {
                color: var(--color-primary-brown);
                cursor: pointer;
            
            }

            &__content {
                font-size: 20px;
                font-weight: 500;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                background-color: rgba(237, 237, 237, 0.1);
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                left: -10px;
                transition: visibility 1s, opacity 1s;
            }
            
            &__content::before {
                content: '';
                position: absolute;
                background-color: var(--color-primary-light);
                width: 120px;
                height: 1px;
                left: 20px;
                top: 50px;
            }

            &__content a {
                text-align: center;
                padding: 15px 0px;
                display: block;
            }

        }

        &__dropdawn:hover &__dropdawn__content {
            opacity: 1;
            visibility: visible;
        }
    }

}

.header__nav::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 1px;
    background-color: var(--color-primary-light);
    top: -13px;
    box-shadow:
        0 0px 12px 1px var(--color-base-white);
}