@use '../utils/' as *;

.hero-section {
    background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%,
        rgba(255, 255, 255, 0.15) 10%,
        rgba(255, 255, 255, 0) 16%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%,
        rgba(0, 0, 0, 0.3) 14%,
        rgba(255, 255, 255, 0) 28%),
    /* url(../images/hero-section-background-light.png),  */
    url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 550px 0px 15px 0px;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 4px solid var(--color-primary-brown);

    @media screen and (max-width: 1200px) {
        padding: 150px 0px 15px 0px;
    }

    @media screen and (max-width: $bp-tablet) {
            padding: 130px 0px 15px 0px;
    }

    @media screen and (max-width: $bp-mobile) {
        background-position: center left;
    }


    &-order-btn {
        display: none;

        @media screen and (max-width: 1200px) {
            display: block;
            margin: 0 auto 50px auto;
            position: relative;
            z-index: 1;
        }
    }


    &__light {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/hero-section-background-ambient.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        pointer-events: none;
        animation-name: hero-lighting;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media screen and (max-width: $bp-mobile) {
            background-position: center left;
        }
    }

    @keyframes hero-lighting {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    &__text__overflow {
        position: relative;
        z-index: 1;
        background-color: rgba(1, 1, 1, 0.4);
        max-width: 560px;
        padding: 20px;

        @media screen and (max-width: 900px) {
            margin: 0 auto;
        }
    }


}


.hero-section__title {
    max-width: 560px;
    margin: 0 0 24px 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary-light);

    @media screen and (max-width: $bp-tablet) {
        font-size: 36px;
        text-align: center;
    }

    @media screen and (max-width: $bp-mobile) {
        font-size: 28px;
        text-align: center;
    }
}

.hero-section__title__h2 {
    max-width: 560px;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-primary-brown);

    @media screen and (max-width: $bp-tablet) {
        font-size: 20px;
    }

    @media screen and (max-width: $bp-mobile) {
        font-size: 22px;
    }
}

