@use '../utils/' as *;

.max-section {
    margin-bottom: 20px;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;

        @media screen and (max-width: $bp-tablet) {
            gap: 15px;
        }

        
    }
}



.max-content-card {
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    background-color: rgba(1, 1, 1, 0.2);
    margin: 0;
    padding: 15px;
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(1, 1, 1, 0.1);
    transition: color 1s, box-shadow 1s, background-color 1s, border 1s;

    @media screen and (max-width: $bp-tablet) {
        max-width: 250px;
        height: 250px;
    }

    @media screen and (max-width: 570px) {
        max-width: 200px;
        height: 200px;
    }

    @media screen and (max-width: $bp-mobile) {
        padding: 0;
        border-radius: 2px;
        max-width: 150px;
        height: 150px;
    }

    @media screen and (max-width: 364px) {
        padding: 0;
        border-radius: 0;
        max-width: 100%;
        
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin-bottom: 15px;

        @media screen and (max-width: $bp-mobile) {
            margin: 0;
        }

    }

    &__text {
        margin-bottom: 5px;

        @media screen and (max-width: 570px) {
            font-size: 18px;
        }

        @media screen and (max-width: $bp-mobile) {
            display: none;
        }
    }
}

.max-content-card:hover {
    background-color: rgba(14, 14, 14, 0.8);
    box-shadow: 0 0 5px 1px var(--color-emissive),
        inset 0 0 5px 1px var(--color-emissive);
    border: 1px solid var(--color-primary-light);
    color: var(--color-emissive);
}



