@use '../utils/' as *;

.mobile-menu {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 
    inset 0 0 200px 40px rgba(26, 26, 26, 1),
    inset 0 0 0 800px rgb(90, 90, 90);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1.5s, visibility 1.5s;

    &.is-open {
        pointer-events: visible;
        opacity: 1;
        visibility: visible;
    }

    @media screen and (max-width: $bp-mobile) {
        background-image: url(../images/body-background.jpg);
        background-size: 700px 700px;
        background-position: center;
        background-repeat: repeat;
        // box-shadow: inset 0 0 350px 100px rgba(228, 228, 228, 0.2);
        box-shadow: none;
    }

    &__flower {
        position: absolute;
        left: -40px;
        top: -10px;
        height: 100%;

        @media screen and (max-width: $bp-mobile) {
            display: none;
        }

    }

   

    &__frame {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 60px 20px 20px 20px;
        height: 100%;
        width: 350px;
        background-color: rgba($color: #1b1b1b, $alpha: 0.5);
        border: 1px solid var(--color-primary-light);
        box-shadow:
                0 0 50px 1px var(--color-emissive),
                inset 0 0 50px 1px var(--color-emissive),
                inset 0 0 200px 80px rgba(26, 26, 26, 1),
                inset 0 0 0 800px rgb(90, 90, 90);
        // box-shadow: 0 0 5px 1px var(--color-emissive),
        // inset 0 0 5px 1px var(--color-emissive);
        overflow-y: hidden;
        transform: translateX(105%);
        transition: transform 1s;

        @media screen and (max-width: $bp-mobile) {
            box-shadow:
            0 0 25px 1px var(--color-emissive),
            inset 0 0 25px 1px var(--color-emissive),
            inset 0 0 200px 80px rgba(26, 26, 26, 1),
            inset 0 0 0 800px rgb(90, 90, 90);
        }

        &__flower {
            z-index: 1;
            position: absolute;
            pointer-events: none;
            right: 10px;
            top: -145px;

            &__icon {
                width: 160px;
                height: 640px;
                fill: var(--color-secondary-brown);
            }
        }

        &__items p {
            position: relative;
            z-index: 2;
            margin: 0;
        }

        &__items {
            position: relative;
            z-index: 2;
            margin-bottom: 10px;

            &--sub-menu {
                margin-left: 20px;
                font-size: 5px;
            }
        }
    }

    &.is-open &__frame {
        transform: translateX(0);
    }



}



.menu-btn-close {
    padding: 5px;
    margin: 0;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: none;
}

.menu-btn-close svg {
    width: 20px;
    height: 20px;
}
