@use '../utils/' as *;

.photo-hero-section {
    padding: 200px 0 20px 0;
    background-image: url(../images/mobile-menu-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--color-secondary-brown);
    color: var(--color-primary-brown);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', monospace;
    margin-bottom: 20px;
    font-weight: 100;

    @media screen and (max-width: 1200px) {
        padding: 150px 0 20px 0;
    }

    @media screen and (max-width: 900px) {
        padding: 125px 0 20px 0;
    }

    @media screen and (max-width: $bp-tablet) {
        padding: 125px 0 20px 0;
    }

    &__title {
        margin-bottom: 10px;

        @media screen and (max-width: $bp-tablet) {
            font-size: 34px;
        }

        @media screen and (max-width: $bp-tablet) {
            font-size: 44px;
        }
    }
}


