.photo-section {
    margin-bottom: 30px;
}

.photo-section-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.photo-section-wrap-coloumn {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.photo-section-wrap-coloumn__item {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 15px;
}

.photo-section-wrap-coloumn__item img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.3s linear, opacity 0.3s;
}

.photo-section-wrap-coloumn__item:hover img {
    transform: scale(1.1);
    opacity: 0.7;
    cursor: pointer;
}