.photo-hero-section {
    padding: 200px 0 20px 0;
    background-color: rgba(1, 1, 1, 0.3);
    color: var(--color-primary-light);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', monospace;
    margin-bottom: 20px;
    font-weight: 100;
}
