@use '../utils/' as *;

.photo-section {
    margin-bottom: 30px;

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;

        @media screen and (max-width: $bp-tablet) {
            flex-wrap: wrap;
            gap: 5px;
        }
            

        &__column {
            display: flex;
            flex-direction: column;
            flex: 1;

            @media screen and (max-width: $bp-tablet) {
                flex-wrap: wrap;
                flex: 0 0 calc(48%);
            }

            &__item {
                position: relative;
                overflow: hidden;
                border-radius: 3px;
                margin-bottom: 15px;

                @media screen and (max-width: $bp-tablet) {
                    margin-bottom: 5px;
                }

            }


            &__item img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
                transition: transform 0.3s linear, opacity 0.3s;
            }


            &__item:hover img {
                transform: scale(1.1);
                opacity: 0.7;
                cursor: pointer;
            }
        }

    }
}









