@use '../utils/' as *;

.reviews-section {
    margin-bottom: 144px;

    @media screen and (max-width: $bp-tablet) {
        margin-bottom: 80px;
    }

    &__decor {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: relative;

        &__romb {
            background-color: var(--color-base-white);
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            margin-bottom: 25px;

            @media screen and (max-width: $bp-mobile) {
                width: 10px;
                height: 10px;
                margin-bottom: 15px;
            }
        }

        &__title {
            font-size: 28px;
            font-weight: 600;
            font-family: 'Cormorant Infant';
            text-transform: uppercase;
            text-align: center;

            @media screen and (max-width: $bp-mobile) {
                font-size: 22px;
            }
        }

    }

    &__decor::before {
        content: '';
        position: absolute;
        width: 88%;
        height: 1px;
        background-color: var(--color-primary-light);
        top: -17px;
        box-shadow:
            0 -5px 15px #00d4ff,
            0 5px 15px #00d4ff;
    }

    &__container__slider {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

    }

    &__container__slider::after {
        content: '';
        position: absolute;
        width: 88%;
        height: 1px;
        background-color: var(--color-primary-light);
        bottom: -80px;
        box-shadow:
            0 -5px 15px #00d4ff,
            0 5px 15px #00d4ff;

        @media screen and (max-width: $bp-mobile) {
            bottom: -50px;
        }
    }
    
}


.reviews-section h3 {
    margin-bottom: 2px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant Infant';
    text-transform: none;
}

.reviews-section p {
    color: var(--color-primary-brown);
    font-size: 22px;
    font-weight: 400;
}

// .reviews-slider-track {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 20px;
// }

.reviews-slider-viewport {
    overflow: hidden;
    width: 100%;
}

.reviews-slider-track {
    display: flex;
    transition: transform 0.35s ease;
    touch-action: pan-y;

}

.reviews-slide {
    flex-shrink: 0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    /* центрируем карточку */

    // @media screen and (max-width: $bp-mobile) {
    //     width: 85%;
    //     margin: 0 auto;
    // }
}


@media (min-width: 1160px) {
  .reviews-slide {
    width: calc(100% / 3);
  }
}


@media (min-width: 856px) and (max-width: 1159px) {
  .reviews-slide {
    width: calc(100% / 2);
  }
}


@media (max-width: 855px) {
  .reviews-slide {
    width: 100%;
  }
}

/* Pagination */
.reviews-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.reviews-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: var(--color-primary-brown);
    cursor: pointer;
    transition: 0.3s;
}

.reviews-dot.active {
    background: var(--color-emissive);
    transform: scale(1.3);
}

/* Скрываем стрелки при <=480px */
@media (max-width: 480px) {
    .reviews-arrow-button {
        display: none;
    }
}

