.services-section {
    margin-bottom: 90px;

    &__decor {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        gap: 15px;

        &__title {
            margin: 0 0 25px 0;
            font-size: 28px;
            font-weight: 600;
            font-family: 'Cormorant Infant';
            text-transform: uppercase;
            text-align: center;
        }

        &__romb {
            background-color: var(--color-base-white);
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            margin-bottom: 25px;
        }

    }
    
    &__decor::before {
        content: '';
        position: absolute;
        width: 1180px;
        height: 1px;
        background-color: var(--color-primary-light);
        top: -17px;
        box-shadow:
        0 -5px 15px #00d4ff,
        0 5px 15px #00d4ff;
    }

    &__top__part {
        display: flex;
        gap: 6px;
        justify-content: center;
         margin: 0 0 6px 0;


        &__deer {
            position: relative;
            width: 724px;
            height: 434px;
            overflow: hidden;
        }

        &__deer video {
            width: 724px;
            height: 434px;
            object-fit: cover;
            pointer-events: none;
        }

        &__deer &__deer__text {
            flex-direction: column;
            position: absolute;
            padding: 20px;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            display: flex;
            align-items: start;
            justify-content: end;
            text-align: left;
            transition: opacity 0.4s ease;
            z-index: 2;
        }
        
       &__deer:hover &__deer__text {
            opacity: 0;
            cursor: none;
        }

        &__computer {
            position: relative;
            width: 450px;
            height: 434px;
            overflow: hidden;
        }

        &__computer video {
            width: 450px;
            height: 434px;
            object-fit: cover;
            pointer-events: none;
        }

        &__computer &__computer__text {
            flex-direction: column;
            position: absolute;
            padding: 20px;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            display: flex;
            align-items: start;
            justify-content: end;
            text-align: left;
            transition: opacity 0.4s ease;
            z-index: 2;
        }

        &__computer:hover &__computer__text {
            opacity: 0;
            cursor: none;
        }

        &__blueprint {
            position: relative;
            width: 450px;
            height: 434px;
            overflow: hidden;
        }

        &__blueprint video {
            width: 450px;
            height: 434px;
            object-fit: cover;
            pointer-events: none;
        }

        &__blueprint &__blueprint__text {
            flex-direction: column;
            position: absolute;
            padding: 20px;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            display: flex;
            align-items: start;
            justify-content: end;
            text-align: left;
            transition: opacity 0.4s ease;
            z-index: 2;
        }

        &__blueprint:hover &__blueprint__text {
            opacity: 0;
            cursor: none;
        }
        
        &__interior {
            position: relative;
            width: 724px;
            height: 434px;
            overflow: hidden;
        }

        &__interior video {
            width: 724px;
            height: 434px;
            object-fit: cover;
            pointer-events: none;
        }

        &__interior &__interior__text {
            flex-direction: column;
            position: absolute;
            padding: 20px;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            display: flex;
            align-items: start;
            justify-content: end;
            text-align: left;
            transition: opacity 0.4s ease;
            z-index: 2;
        }

        &__interior:hover &__interior__text {
            opacity: 0;
            cursor: none;
        }

    }

    &__bottom-part {
        display: flex;
        justify-content: center;
        margin: 0 0 40px 0;
    
        &__woodwork {
            position: relative;
            width: 1180px;
            height: 250px;
            overflow: hidden;
        }

        &__woodwork video {
            width: 1180px;
            height: 250px;
            object-fit: cover;
            object-position: center bottom;
            pointer-events: none;
        }

        &__woodwork &__woodwork__text {
            flex-direction: column;
            position: absolute;
            padding: 20px;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            display: flex;
            align-items: start;
            justify-content: end;
            text-align: left;
            transition: opacity 0.4s ease;
            z-index: 2;
        }

        &__woodwork:hover &__woodwork__text {
            opacity: 0;
            cursor: none;
        }

    }
    
}

.services-section h3,
h4 {
    margin: 0 0 16px 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: none;
}

.services-section p {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}











































