@use '../utils/' as *;

.sorting-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.8);
    z-index: 5;
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s ease;

    &.open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }


    &__frame {
        padding: 0 15px;
        background-color: rgba(105, 101, 101, 0.7);
        box-shadow: inset 0 0 120px 10px rgba(1, 1, 1, 1);
        border: 1px solid var(--color-primary-brown);
        border-bottom: none;
        position: relative;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 320px;
        height: 250px;
        overflow: hidden;
        transform: translateY(100%);
        transition: transform 1s;

        & p {
            margin: 0 auto;
            color: var(--color-emissive);
        }
    }

    &.open &__frame {
        transform: translateY(0);
    }

    
}



.sorting-mobile-btn {
    border: none;
    background: transparent;
    color: var(--color-primary-brown);
    font-size: 22px;
    font-family: 'Cormorant';

}

.sorting-mobile-btn.active {
    color: var(--color-emissive);
    background-color: rgba(1, 1, 1, 0.3);
    padding: 0px 300px 0px 0px;
    white-space: nowrap;
    
}


